@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;

  //font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
}
.place {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
}
.city {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.country {
  font-size: 1.2rem;
}
.list svg {
  height: 45px;
}
.list {
  margin: 5px;
}
.navbar {
  background-color: rgba(216, 216, 230, 0.92);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  height: 100vh;
  transition: opacity 0.2s; /* Specific transition */
  opacity: 0; /* Start with invisible */
  pointer-events: none; /* Prevent interaction when invisible */
}

.clicked {
  opacity: 1;
  pointer-events: auto; /* Allow interaction */
}

.un-clicked {
  opacity: 0;
  /* Removed display: none; */
  pointer-events: none; /* Prevent interaction */
}

.navhader {
  width: 25px;
  margin: 10px;
  position: absolute;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo svg {
  width: 120px;
  padding: 10px;
}
.logo-text {
  font-family: 'Pacifico', cursive;
  color: #085d9e;
  font-size: 1.15rem;
}
.search-button {
  background-color: white;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
}
.search-input {
  font-family: 'Lato', sans-serif;

  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
}
.search-header {
  margin-top: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.05);
  width: 80vw;
  height: 80vw;
  min-height: 340px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
}
.the-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather-headline {
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.weather-gif {
  width: 90px;
  height: 90px;
  background-color: aqua;
  min-width: 90px;
}
.weather-info-container {
  display: flex;
  flex-direction: column;
}
.weather-info {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.temperature {
  font-size: clamp(3rem, 4rem, 5rem);
  font-weight: 600;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  display: flex;
  gap: 10px;
}
.weather-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box; /* Ensures padding does not add to the total width */
}
.weather-mini-container {
  flex: 1 0 calc(33.333% - 20px); /* flex-grow, flex-shrink, flex-basis */
  margin: 0 4%;
  min-width: 83px;
  height: 85px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.feels-like-container {
  background-color: #ba181b;
}
.humidity-container {
  background-color: #48bfe3;
}
.chance-of-rain-container {
  background-color: #1f2544;
}
.weather-data-headline {
  font-weight: 500;
  font-size: 1.1rem;
}
.weather-data-number {
  font-size: 1.4rem;
  font-weight: 600;
}
.air-quality-headline {
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.air-quality-gif {
  width: 90px;
  height: 90px;
  min-width: 90px;
  background-color: aqua;
}
.air-quality-info {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.air-speed {
  font-size: 3.7rem;
  font-weight: 600;
}
.air-speed-number {
  display: flex;
  gap: 10px;
}
.air-speed-values {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.air-quality-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.air-quality-number {
  font-size: 2.9rem;
  font-weight: 600;
}
.air-quality-units {
  background-color: #defc74;
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  height: fit-content;
  padding: 4px 8px;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 600;
}
.air-quality-num-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.air-quality-meter-container {
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.air-quality-meter-text {
  display: flex;
  justify-content: space-evenly;
}
.air-quality-meter {
  width: 90%;
  height: 5px;
  background-color: rgba(207, 207, 207, 0.993);
  border-radius: 20px;
}
.air-quality-inside {
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.meter {
  background-color: orangered;
  width: 60%;
  height: 5px;
  border-radius: 20px;
}
.temperature-today-graph {
  width: 80%;
  height: 250px;
}
.chart {
  width: 100%;
  height: 100%;
}
.weather-tomorrow-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  margin-bottom: 30px;
}
.weather-prediction {
  width: 80vw;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.05);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.tomorrow-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.tomorrow-info {
  display: flex;
  flex-direction: column;
}
.weather-tomorrow-gif {
  width: 90px;
  height: 90px;
  background-color: aqua;
  min-width: 90px;
}
.weather-tomorrow-number {
  font-size: 3.7rem;
  font-weight: 600;
}
.weather-tomorrow-values {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
}
.tomorrow-number-container {
  display: flex;
  gap: 10px;
}
.weather-prediction-mini-container {
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 90%;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weather-prediction-container {
  border: 1px solid rgba(0, 0, 0, 0.15);

  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.weather-mini-container-prediction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
